<h1>Obras sociais</h1>

<h2>Lista das obras sociais</h2>

<% @ngos.each do |ngo| %>
  <div class="card">
    <div class="row no-butters">
      <div class="col-md-3">
        <img class="card-img" src="<%= ngo.image_url %>" alt="logo maneiro da obra social">
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <h5 class="card-title"><%= ngo.name %></h5>
          <p class="card-text"><%= ngo.description %></p>
          <%= link_to "Administrar serviço", ngo_path(ngo.id), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
