<div class="media">
  <img class="mr-2" src="<%= @ngo.image_url %>" alt="logo maneiro da obra social">
  <div class="media-body" style="max-width: 540px;">
    <h5 class="mt-0"><%= @ngo.name %></h5>
    <%= @ngo.description %>
  </div>
</div>
